.code {
    margin-top: 3rem;
}
.code-input {
    list-style: none;
    padding: 0;   
}
.guess {
    width: 3rem;
    text-align: center;
    display: inline-block;
}
.guess input {
    width: 3rem;
    text-align: center;
}
.letter-container {
    width: 1rem;
    display: inline-block;
    font-weight: bold;
}
.strike {
    text-decoration: line-through;
}